*{
    font-family: "Pretendard Variable", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
    letter-spacing: -0.04em;
    line-height: 1.25;
}

div.wrapper{
    display: flex;
    align-items: center;
    justify-content: center;
    height: inherit;
    box-sizing: border-box;
}
div.container{
    width: 100%;
    height: inherit;
    position: relative;
    box-sizing: border-box;
}

div.content{
    padding: 40px;
    width: calc( 100vw - 360px );
    margin-left: 360px;
    gap: 20px;
    display: grid;
}

.header{
    display: flex;
    align-items: baseline;
    justify-content: flex-start;
    gap: 10px;
    h2{
        font-size: 28px;
        font-weight: 600;
        color: #fff;
    }
    h3{
        font-size: 18px;
        font-weight: 600;
        color: #ffffff90;
    }
}